@model Medal

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">勋章信息</h2>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label asp-for="Name" class="control-label">勋章名称</label>
					<input type="text" asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
					<p class="help-block">勋章的名称将会出现在提示和列表界面中。</p>
				</div>

				<div class="form-group">
					<label asp-for="Description" class="control-label">勋章描述</label>
					<textarea type="text" asp-for="Description" class="form-control" rows="3"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
					<p class="help-block">勋章的描述将会出现在鼠标悬停界面中。</p>
				</div>

				<div class="form-group">
					<label asp-for="CategoryId" class="control-label">勋章分类</label>
					@await Component.InvokeAsync("MedalCategorySelector", new { modelName = nameof(Model.CategoryId) })
					<span asp-validation-for="CategoryId" class="text-danger"></span>
					<p class="help-block">选择勋章所属的类别，这可方便用户更容易找到勋章。</p>
				</div>

				<div class="form-group">
					<label asp-for="ImageUri" class="control-label">图片地址</label>
					<div class="input-group">
						<input id="image-uri-input" type="url" asp-for="ImageUri" class="form-control" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" onclick="uploadMedalImage();">上传图片</button>
						</span>
					</div>
					<span id="image-uri-error-span" asp-validation-for="ImageUri" class="text-danger"></span>
					<p class="help-block">勋章图片的地址。支持所有浏览器常见格式。</p>
				</div>

				<div class="form-group">
					<label asp-for="Link" class="control-label">链接地址</label>
					<input type="url" asp-for="Link" class="form-control" />
					<span asp-validation-for="Link" class="text-danger"></span>
					<p class="help-block">单击勋章时跳转到的链接地址。如不填写则默认跳转到勋章中心。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">颁发设置</h2>
			</div>
			<div class="panel-body">
				<p class="help-block">在下方可设置用户获得勋章的途径。注意：具有操作员或者更高级别权限的用户始终可以手动授予用户任意勋章，并设定授予的有效期限。</p>
				<hr />
				<div class="checkbox">
					<label>
						<input type="checkbox" asp-for="CanApply" /> 允许用户申请该勋章
					</label>
					<span asp-validation-for="CanApply" class="text-danger"></span>
					<p class="help-block">如果选中该复选框，则用户可以通过勋章中心申请勋章并由审核员进行审核。申请勋章无需支付论坛货币。</p>
				</div>

				<hr />

				<div class="form-group">

					<p class="help-block">下表列出了该勋章的所有购买选项。你可以为不同的有效时间分别设定价格。如果列表中没有任何项目，则用户将不能通过支付论坛货币的形式获得勋章。</p>

					@{
						// 价格数量
						var priceCount = Model?.PriceSettings?.Length ?? 0;
					}


					<table class="table">
						<thead>
							<tr>
								<th>时间（天）</th>
								<th>价格</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="price-table">
							@for (var i = 0; i < priceCount; i++)
							{
								<tr>
									<td><input type="number" step="1" min="0" asp-for="PriceSettings[i].ExpiryDate" placeholder="永不过期" class="form-control input-sm" /></td>
									<td><input type="number" step="1" min="0" asp-for="PriceSettings[i].Price" class="form-control input-sm" /></td>
									<td><button type="button" class="btn btn-sm btn-danger" onclick="deletePriceItem(this);">删除</button></td>
								</tr>
							}

							<tr>
								<td><input type="number" step="1" min="0" placeholder="永不过期" class="form-control input-sm" /></td>
								<td><input type="number" step="1" min="0" class="form-control input-sm" /></td>
								<td><button type="button" class="btn btn-sm btn-success" onclick="addPriceItem(this);">添加</button></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>

</div>

<script type="text/javascript" language="javascript">

	function deletePriceItem(btn) {

		$(btn).parents('tr').first().remove();

		// 重排所有内容
		reapplyPriceItems();

	}

	function reapplyPriceItems() {

		$('#price-table').find('tr').each(function (index, ele) {
			$(ele).find('input').eq(0).prop('name', 'PriceSettings[' + index + '].ExpiryDate');
			$(ele).find('input').eq(1).prop('name', 'PriceSettings[' + index + '].Price');
		});
	}

	function addPriceItem(btn) {

		// 当前行
		var row = $(btn).parents('tr').first();

		var clone = $(row).clone();
		// 清除所有内容
		$(clone).find('input').val('');

		// 修改上一行样式
		$(row).find('button').text('删除');
		$(row).find('button').removeClass('btn-success').addClass('btn-danger');
		$(row).find('button').attr('onclick', 'deletePriceItem(this);');

		// 重排所有内容
		reapplyPriceItems();

		$('#price-table').append(clone);
	}

	function onUploadImageSuccess(data) {
		$('#image-uri-input').val(data);
	}

	function onUploadImageFail() {
		$('#image-uri-error-span').text('上传时发生错误，请再试一次。');
	}

	function uploadMedalImage() {
		requestUpload(onUploadImageSuccess, onUploadImageFail);
	}

</script>
