@using System.Threading.Tasks
@using Sakura.AspNetCore.Authentication
@inject ExternalSignInManager ExternalSignInManager

<ul class="nav navbar-nav navbar-right">
	@if (ExternalSignInManager.IsSignedIn(User))
	{
		<li><a asp-controller="Account" asp-action="Detail"><strong>@ExternalSignInManager.GetUserName(User)</strong></a></li>
		<li><a href="#" onclick="$('#logoff-form').submit();">注销</a></li>
	}
	else
	{
		<li><a asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Url.Action()">登录</a></li>
	}
</ul>

<form class="hidden" asp-controller="Account" asp-action="LogOff" asp-antiforgery="true" id="logoff-form"></form>